beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
html2text
httplib2
idna
oauthlib
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dotenv
requests
requests-oauthlib
soupsieve
typing_extensions
uritemplate
urllib3
